[2017-01-12 17:57] peggyrayzis opened #2 "Account for React Native v0.40 & up"
https://github.com/facebook/react-native/releases/tag/v0.40.0
^ RN 0.40 imports their native headers differently, we need to read the version in the package.json & account for this in our templates

[2017-01-12 17:59] peggyrayzis opened #3 "Add emojis and spinners to console.logs as it's creating the files"
https://github.com/sindresorhus/cli-spinners
https://github.com/sindresorhus/log-update
^These should take care of that for us

[2017-01-12 17:59] peggyrayzis opened #4 "Write the damn tests"
Let's get some Jest up in here

[2017-01-12 18:03] peggyrayzis opened #5 "Write a Medium post"
Get that hype train rolling 🚋

[2017-01-12 19:51] peggyrayzis commented on #2
Completed 💥

[2017-01-12 19:51] #2 closed

[2017-01-13 17:01] peggyrayzis opened #6 "Write a README & contributor guidelines"

[2017-01-18 04:15] peggyrayzis commented on #4
Snapshotted all the things 📸

[2017-01-18 04:15] #4 closed

[2017-01-18 05:22] peggyrayzis commented on #3
The module is so ⚡️ fast that you don't even need a spinner

[2017-01-18 05:22] #3 closed

[2017-01-18 17:19] peggyrayzis commented on #6
README finalized 🎉

[2017-01-18 17:19] #6 closed

[2017-03-17 16:37] peggyrayzis opened #7 "Discuss: Change header search paths to look for header files in the Pods directory"
Based on the [Shoutem team's experience](https://medium.com/shoutem/top-lessons-we-learned-while-building-a-react-native-bridge-library-bd6485cc6212#.4dpzsqen1) with react-native-create-bridge, they suggested configuring a default option to search for header files in the Pods directory when users are installing their SDKs with Cocoapods.

Here are some things I'd like to discuss before trying to i

[2017-03-20 06:58] sirhotsauce commented on #7
Here's what I suggest for these two questions:

1. Ask the user about his setup. This is how Yeoman generators do it and I've always liked it.

2. There is an npm package called xcode that let's you modify your XCode project. The RN team uses it for react-native link.

[2017-03-20 15:26] peggyrayzis commented on #7
Thanks for your input Mihovil! That npm package is a good find 👍

At this time, I'm going to hold off implementing this feature because it introduces added complexity. create-bridge was originally intended to be a "one size fits all" bridge generator. By implementing, we're making the assumption that the user is using a third-party SDK in their bridge, when they might just be implementing native f

[2017-03-27 00:13] peggyrayzis opened #8 "React Native Windows support"
https://github.com/Microsoft/react-native-windows

It would be awesome if we could support Windows/C# templates. I've never used RN Windows before though so not sure where to start. :woman_shrugging:

[2017-05-26 17:24] peggyrayzis opened #9 "Kotlin support"
Now that Kotlin is a first class language for Android, we should support it!

[2017-06-28 01:04] #9 closed

[2017-06-28 08:36] fdnhkj opened #11 "Question: What are the differences between this repo and react-native-create-library?"
Hi!

Thanks for your work, I'll have a look at it :)

I am currently using [react-native-create-library](https://github.com/frostney/react-native-create-library) and I was wondering what are the differences (if there are) between this repo and react-native-create-library.

[2017-07-05 00:54] charliesbox commented on #11
I have the same question :)

[2017-07-05 14:49] peggyrayzis commented on #11
Hi there! 🙋 `react-native-create-library` is an awesome project, but there are a couple key differences:
- `react-native-create-library` only supports library templates. `react-native-create-bridge` (RNCB) was originally intended to support bridges within an existing RN project, but it also supports library templates. Check out [the Shoutem team's post](https://medium.com/shoutem/top-lessons-we-le

[2017-07-05 14:49] #11 closed

[2017-07-05 17:25] fdnhkj commented on #11
Ok I understand, thank you for taking the time 😊

[2017-07-06 02:23] rturk opened #12 "Please clarify license of this repo"
Hi @peggyrayzis. Please clarify licensing of this package, hopefully MIT

[2017-07-06 02:52] peggyrayzis commented on #12
Thanks for catching that! It's MIT 🎉

[2017-07-06 02:52] #12 closed

[2017-07-06 21:42] #7 closed

[2017-07-08 17:01] danielfeelfine opened #14 "Error when run create-bridge command for iOS/Objective-C"
`
Error: ENOENT: no such file or directory, open '.../ios/ExampleBridge.h'
`

[2017-07-09 03:09] peggyrayzis commented on #14
Thanks for reporting! Can you please provide a little more context? Were you running the command in an existing RN project?

[2017-07-10 13:00] danielfeelfine commented on #14
I was running out of the project. Problem solved. Thanks :)

[2017-07-10 13:00] #14 closed

[2017-07-13 19:46] peggyrayzis opened #15 "Allow user to specify path for ios/android files"
Path will default to RN default project structure. If the directory doesn't exist, we'll create it.

[2017-07-14 00:52] DavidPotter opened #16 "Running in a directory not set up for React Native crashes"
When running the tool in a directory that does not contain a React Native project produces the following results:
[code]

[2017-07-17 14:23] peggyrayzis commented on #16
Hi David! Thanks for reporting. You do need a `package.json` in order for this module to work. What happens after you create one with `yarn init` or `npm init`?

[2017-07-17 15:13] peggyrayzis opened #18 "Add contributors to README"

[2017-07-17 16:50] grabbou opened #19 "Convert to a plugin"
Changing this project to a `react-native` plugin, would mean that after installing it locally into project dependencies, you can run `react-native create-bridge` instead of having global executable.

Would be easier to version, adapt to breaking react-native changes and work across projects.

Since this is not a super documented feature, I would love to send a PR adding this.

Would you be / other

[2017-07-17 17:27] peggyrayzis commented on #19
I absolutely love this idea and would gladly accept a PR! I didn't even know custom plugins were an option so thank you so much for suggesting this.

I'm going to post on Twitter to see if anyone has any objections, although I don't think anyone will 😀

[2017-07-17 18:06] andrerfneves commented on #19
I think this is a better approach. Would love to help work on this PR but am not super familiar with custom plugins in RN. Given that @grabbou worked on the initial port of RNPM -> `react-native link` plugin I'm assuming he has a lot of insight in there.

[2017-07-17 18:32] DavidPotter commented on #16
After creating a new directory and executing `yarn init`, then running `create-bridge` with default parameters, I get the following error:

[code]

Could you enumerate these steps in the README for folks like me that are new to React Native?

[2017-07-17 19:24] grabbou commented on #19
@andrerfneves I am busy in upcoming days (travelling), so I am happy to help you as much as I can to land this!

To start - it's really simple. React Native CLI has a built-in mechanism for detecting plugins. In order to be detected as a plugin, your package has to meet the following criteria:
- it has to start with `react-native-*`
- it has to be present in `package.json` of `react-native` projec

[2017-07-17 19:27] andrerfneves commented on #19
@grabbou this sounds great! I've got a couple deliverables towards the end of the week that need to be met, but I will try and get this going sometime this week/early next week. @peggyrayzis whenever I start, I'll push a branch out to the repo and raise a WIP pull request so that you can also contribute if you want to.

[2017-07-17 19:29] grabbou commented on #19
Sounds good! Please CC me if you have any questions down the road! I'll be happy to answer and pair on whatever is needed to ship it :)

[2017-07-18 01:19] peggyrayzis commented on #19
@grabbou thanks for the overview on building a custom plugin, this is super helpful!

@andrerfneves thank you for taking this on, I really appreciate it! I'm looking forward to reviewing your PR. Please let me know if you have any questions along the way! 😊

[2017-07-18 01:34] peggyrayzis opened #20 "Set up Travis"

[2017-07-18 02:11] #20 closed

[2017-07-18 02:26] peggyrayzis opened #22 "Make the project more friendly for new contributors"
- [x]  Add `CONTRIBUTING.md`
- [x]  Add issue template
- [x]  Add PR template
- [x]  #18

[2017-07-18 23:03] leonidez opened #23 "How to handle bridging header file"
I'm working on an IOS integration and am stuck at correctly importing the generated code into my project. I've created a native module using swift and understand per the docs that I am to create a bridging header. But I see that your package has created one for me and am not sure what to do. Right now building the project is successful but my native module is not registered. I also do not see any

[2017-07-20 16:30] chrise86 opened #24 "Linking iOS"
In the readme you say:

When I do that, I get:

[code]

The files live in the root of `ios/` folder - not in the project folder within, i.e. `ios/MyApp`. Could that be the reason?

[2017-07-20 20:31] peggyrayzis commented on #24
Hi there! Thanks for using RNCB and reporting this bug.

That was actually an error in the readme from a previous iteration where I was considering adding Cocoapods support. I've removed it, you should be good to go 😀

[2017-07-20 20:31] #24 closed

[2017-07-20 20:32] chrise86 commented on #24
Ah ok!

I had to manually add the files to the project in Xcode for it to pick them up. Should this be necessary? 🤔

[2017-07-20 20:43] peggyrayzis commented on #24
No, this shouldn't be necessary. Can you please provide more info about your setup? Are you in an existing RN project? If so, what's your version #?

[2017-07-21 07:40] chrise86 commented on #24
Yes existing project:

[code]

[2017-07-21 12:32] peggyrayzis commented on #24
I was able to reproduce your issue last night creating a demo project. Originally, I thought you meant that you had to manually add React files like `RCTBridgeModule`.

You will have to manually add your files generated from RNCB because we don't currently edit your existing files like `project.pbxproj`. Thank you for catching this though because this was definitely an opportunity to improve the r

[2017-07-21 14:55] peggyrayzis opened #26 "Move PropTypes checking in JS templates to prop-types package"
After editing the template, check to see if user already has prop-types in their `package.json`. If they don't, the CLI should remind them to `yarn add prop-types`. Eventually I want to edit the `package.json` directly but for now, this should be sufficient

[2017-08-03 03:27] peggyrayzis commented on #19
Hey @andrerfneves! 🙋 I wanted to check in and see how you're doing with the plugin PR. No worries if you haven't started it yet, just wanted to let you know I'm available for help if you need it!

[2017-08-03 03:37] jarretmoses commented on #19
@andrerfneves I'd be down to tag team this with you. Would be a great addition / learning experience

[2017-08-03 03:38] andrerfneves commented on #19
@jarretmoses let's do it. The more the merrier! @peggyrayzis hoping to have something up for you soon!! 👍

[2017-08-03 04:01] peggyrayzis commented on #22
We're looking pretty legit now. Welcome new contributors!! 😉

Closes #18

[2017-08-03 04:01] #22 closed

[2017-08-03 04:01] #18 closed

[2017-08-03 04:08] peggyrayzis commented on #19
Welcome @jarretmoses! 🎉  It's great to have both of you on board to solve this issue, really excited to see your PR!

[2017-08-03 04:56] peggyrayzis opened #27 "Config to remove comments for more experienced users"
Create an option to pass a --no-comments flag to `create-bridge`, which will strip all comments from the templates.

[2017-08-04 04:20] jarretmoses commented on #19
@andrerfneves I got the ball rolling on this if you want to take a look https://github.com/jarretmoses/react-native-create-bridge/tree/feature/rn-plugin. From what I could tell the react native cli doesn't support async / await so a bunch of the work is just converting the functions to be promised based. However I may be mistaken but from reading through the source code and the errors being thrown

[2017-08-04 04:54] peggyrayzis commented on #19
Awesome, thanks Jarret! When you're ready, could you please submit a PR with your work? It can be work in progress (prefix with WIP in the PR title) - it's just easier for me to see the diff that way and give you feedback.

[2017-08-04 16:41] andrerfneves commented on #19
@jarretmoses I'll start taking a look at this soon. Let's discuss in person first, think it'd help.

[2017-08-04 16:51] jarretmoses commented on #19
@peggyrayzis will do. @andrerfneves sounds good

[2017-08-19 21:07] eddiewang commented on #5
Was this ever created? Would love to see a tutorial. I'm a javascript developer trying to implement a third party library for iOS implemented in ObjectiveC

[2017-08-29 15:30] peggyrayzis commented on #5
Hi @eddiewang! Be on the lookout very soon for a blog post & screencast featuring create-bridge in collaboration w/ React Native Training. I'll post the links in the readme once they're available 😀

[2017-08-29 15:34] peggyrayzis opened #30 "Remove createJSModules from packages of Android templates"
This was a breaking change in RN v0.47.2. Not sure if overriding this method is necessary for native modules to work in earlier versions -- if so, we'll need to check the version in `package.json` and update the templates accordingly.

[2017-08-29 17:44] peggyrayzis commented on #30
And the compiler fails if that method isn't overridden in earlier versions :( looks like we have to do the version check

[2017-08-29 19:06] andrerfneves commented on #30
Had the same issue with `react-native-orientation`. It's a breaking change for Android. Anything above v0.47 needs to have it removed, otherwise it breaks compilation. Any project before v0.47 definitely needs the `@Override` call.

[2017-08-31 08:10] RWOverdijk opened #32 "Understanding the plugin and where is .xcodeproj"
The following question is probably pretty stupid, but I don't have the answer.

### Context

I'm creating a plugin for an sdk that's not that popular yet, so there's no plugin for RN. I'm attempting to be the one writing it.

### The short version

Where's `foo.xcodeproj` after running the `create-bridge` command?

### The longer version

How does this all work? It's cool that the bridge gets crea

[2017-09-03 18:54] #30 closed

[2017-09-06 08:26] notgiorgi opened #33 "Use RCTEventEmitter instead of RCTEventDispatcher"
I'm trying to dispatch events from my UI component, and appears RCTEventDispatcher is mostly deprecated: https://github.com/facebook/react-native/pull/11792

I want to contribute to this but I need guidance.

[2017-09-10 23:41] jarretmoses commented on #19
Hey @peggyrayzis, any update here?

[2017-09-21 08:52] Almouro commented on #32
@RWOverdijk I don't think the goal of `react-native-create-bridge` is to create a separate library. It creates the bridge inside an existing RN project, that's why it doesn't need an xcodeproj.

To get an actual separate library, [react-native-create-library](https://github.com/frostney/react-native-create-library) is probably what you're looking for.

@peggyrayzis is there a plan to ask the user

[2017-09-21 08:53] RWOverdijk commented on #32
I've solved this using the react-native command that makes the plugin for me.

[2017-09-21 08:53] #32 closed

[2017-09-21 09:07] Almouro opened #34 "Creating a standalone library"
Hi @peggyrayzis,

Thanks for making this great plugin, it is very useful!

It seems that for now, it creates a bridge in an existing React Native project, but there is no option to create a bridge as a standalone (as in publishable on npm).

On the contrary, `react-native-create-library` seems to do exactly just that but has no swift/ui module support.

Is there a plan do to that in this plugin? I

[2017-10-01 12:57] dzunglht opened #35 "Issue on RN 0.48.3"
We love your work, keep it up !
![image](https://user-images.githubusercontent.com/20235889/31054686-b1aaaa18-a6e2-11e7-8ab6-da692465236a.png)

[2017-10-01 19:16] andrerfneves commented on #35
Could you provide a reproduction repo for debugging?

[2017-10-01 23:07] jarretmoses commented on #35
@dzhunglht does this occur after creating a brand new (untouched) module?

[2017-10-14 10:31] ramubhai opened #36 "Semver error?"
### Dev setup:
- `react-native-create-bridge` version:
- `react-native` version: 0.48.4

### I am using create-bridge in a:

- [ ] standalone library
- [x] existing React Native project

### What you did:
create-bridge followed by providing all the inputs.

### What happened:

create-bridge
? What is your bridge module called? react-native-google-cast-v3
? What type of bridge would you like to cre

[2017-10-14 15:06] ramubhai commented on #36
Checked, error happens only when we select Andorid/Java. Not happens when only iOS is selected.
Further can reproduce on windows mac both.

[2017-10-15 00:04] jarretmoses commented on #36
@ramubhai could you possibly create a reproduction repo? I tried to reproduce on RN 48.4 and 49.0 but am not seeing the error.

[2017-10-15 16:05] ramubhai commented on #36
I created a fresh project using react-native init and it worked fine. So there must be some issues with my specific projects. I will updated once I find out what worked.

[2017-10-15 17:59] ramubhai commented on #36
Ok. I tracked down the error to versioning style in root level project.json of react-native project.
Following works correctly.
"dependencies": {
		"react": "16.0.0-beta.5",
		"react-native": "0.49.3"
	},

but following fails with an error regarding semver.

"dependencies": {
		"react": "16.0.0-beta.5",
		"react-native": "^0.49.3"
	},

Adding any new dependency using "react-native link" seems to b

[2017-10-16 00:02] jarretmoses commented on #36
@ramubhai thanks for investigating this. I’ve opened a PR to resolve this issue.

[2017-10-31 20:03] kktam opened #39 "Question : Compatibility with projects created with create-react-native-app"
This is not a bug, but more of a question.

For projects that are created with React Native's create-react-native-app [command](https://facebook.github.io/react-native/docs/getting-started.html). I would like to find out how to use this library on top of a project that is created using RN's native generator.

[2017-11-05 15:13] jarretmoses commented on #19
@peggyrayzis is this being maintained anymore?

[2017-12-12 20:55] marchon opened #40 "IOS DIrectory is not created when running create-bridge"
### Dev setup:
- `react-native-create-bridge` version: Latest commit 20c2692  on Sep 3 @peggyrayzis peggyrayzis chore(v1.2.2): version bump
- `react-native` version:

### I am using create-bridge in a:

- [x] standalone library
- [x] existing React Native project

### What you did:
Georges-MacBook-Pro:react-native-create-bridge marchon$  create-bridge
? What is your bridge module called? TESTBRIDG

[2017-12-12 23:06] marchon commented on #36
Thank you for sorting this out!!! Much appreciated. :)

[2018-01-09 00:03] Sunjiawei58 opened #41 "this._nativeModule.addListener is not a function"
### Dev setup:
- `react-native-create-bridge` version: 1.2.2
- `react-native` version: 0.49.3

### I am using create-bridge in a:

- [ ] standalone library
- [yes ] existing React Native project

### What you did:
I followed this tutorial video : https://www.youtube.com/watch?v=OrIIPNEjQfs
to create a object-c Native Module. the constant and the general method works perfectly, but

### What happen

[2018-01-10 16:15] aabanaag commented on #19
Any update on this? Would love to use this feature already.

[2018-01-10 16:55] andrerfneves commented on #19
I don't believe this is priority enough for the maintainer nor is it going to get merged into this package.

[2018-01-10 17:25] aabanaag commented on #19
@andrerfneves so we can use the repo of @jarretmoses for the mean time?

[2018-01-10 18:02] andrerfneves commented on #19
@aabanaag we're speaking with the maintainer at the moment to be able to gain some Collaborator access in order to further development in the package. Stay tuned.

[2018-01-11 17:20] jarretmoses commented on #36
Getting this package going again. Stay tuned for some updates here.

[2018-01-13 00:17] markandrus opened #42 "create-bridge does not create MainApplication.java"
### Dev setup:
- `react-native-create-bridge` version: 1.2.2
- `react-native` version: N/A

### I am using create-bridge in a:

- [x] standalone library
- [x] existing React Native project

### What you did:

[code]

### What happened:

"Next Steps" in README.md says to edit MainApplication.java; however, no such file exists in my project directory.

[2018-01-26 17:59] cranberyxl opened #44 "2.0.0 npm download missing src folder"
### Dev setup:
- `react-native-create-bridge` version: 2.0.0

### What you did:
`yarn add react-native-create-bridge`

### What happened:
[code]
The `src` folder is missing from the npm download.

[2018-01-26 19:29] jarretmoses commented on #44
@cranberyxl Sorry for the inconvenience. Will look to have this resolved ASAP.

[2018-01-26 20:26] sullenor commented on #44
Hi, looks like a faced the similar issue :)
Just wanted to add that `package.json` `main` key points to `index.js` which is missing also.

[2018-01-26 22:30] jarretmoses commented on #19
Resolved https://github.com/peggyrayzis/react-native-create-bridge/pull/28

[2018-01-26 22:30] #19 closed

[2018-01-27 03:21] andrerfneves commented on #44
I'm able to reproduce the same error when trying to install it myself. Might have been because of #28. I can dig through this tomorrow at some point.

[2018-01-27 03:35] jarretmoses commented on #44
@andrerfneves The problem I see is that the path to the index.js file doesn’t resolve from the build directory, because the build script isn’t run, which doesn’t have any changes from that PR. A fix is to just run the build script and having it sit on master but I never saw it on master in the first place. I’m looking to see if there is a missing post npm install script missing.

[2018-01-29 03:44] jarretmoses commented on #44
`v2.0.1` has been published with a fix for this. The plugin should have actually been pointing to the `build`, thanks for pointing this out.

[2018-01-29 15:27] cranberyxl commented on #44
Confirmed. Thanks!

[2018-01-29 15:27] #44 closed

[2018-02-02 06:21] mosesmc52 opened #45 "Error "Expected a component class, got [object Object]""
Hi,

I installed the latest version of react-native-create-bridge (2.0.1) on react v 0.45.1. Following the steps as described in the [tutorial](https://www.youtube.com/watch?v=OrIIPNEjQfs&t=145s) posted by Peggy on youtube, I'm getting the error Expected a component class, got [object Object]. I'm not sure how to fix this error.

Regards,

Moses

[2018-02-02 22:30] jarretmoses commented on #45
@mosesmc52 could you give a little more context here? Are you saying you are following the tutorial and that some changes you made have broken something or is the command to generate the templates `react-native new-module` is not working. If it is the former I would say that is not necessarily an issue with this package. Let me know.

[2018-02-03 02:08] mozilla-rowvigor commented on #45
It's the former. No sure it's an issue with the package. I'm following the tutorial. Made the exact changes as described in the tutorial up to @ 7:30  and experienced the error. The error occurs after I insert the generated rn created bridge js container HelloWorldSquare within the View container.

I'm going to just use rn create bridge to generate the files and insert the container without editin

[2018-02-03 03:18] mozilla-rowvigor commented on #45
I created a new rn project, inserted the generated js container in the main view and experienced the same error.

[2018-02-03 11:25] mozilla-rowvigor commented on #45
I figured out my own issue. The first letter of the name of the component must be capital.

[2018-02-04 20:28] jarretmoses commented on #45
@mozilla-rowvigor That's great to hear. I'll keep that in mind as there's most likely an enhancement to the package to make sure that is the case.

[2018-02-04 20:28] #45 closed

[2018-02-04 20:34] jarretmoses commented on #39
@kktam I think I understand what you're asking but let me clarify. Do you want to know how to use this package when initializing an app with CRNA? It seems you may be talking about 2 different things as in my mind an app "created using RN's native generator" is not using CRNA but `react-native init`. If you created through the latter you should simply just need to install the dependency and run `r

[2018-02-11 22:47] jarretmoses commented on #42
@markandrus `MainApplication.java` would be part of your React Native app, not created by this package. For example when running `react-native init {APP_NAME}` the `MainApplication,java` file is created as part of your app.

[2018-02-14 10:54] Angelk90 opened #46 "Some information"
@peggyrayzis, @jarretmoses :
Hi, Congratulations on the module.
I have some questions:

1. How can I create a separate module, standalone library.
Without there being a real project.
2. What is different from this other module: https://github.com/frostney/react-native-create-library
(in this case it allows to create a standalone module)
3. It would be interesting to give the possibility that durin

[2018-02-18 16:46] ma-pe commented on #23
You don't see the generated files in your xcodeproject, because they are not added automatically. Right click your App-Folder and hit `Add files to 'app name'`.

My configuration with the bridging header doesn't seem to be right though. Will post again if I figure it out.

[2018-02-18 17:53] ma-pe opened #48 "Template issue when using Swift setup"
### Dev setup:
- `react-native-create-bridge` version: 1.2.0
- `react-native` version: 0.53.0

### I am using create-bridge in a:
- [ ] standalone library
- [X] existing React Native project

### What you did:
Setup a new Native Module & UI Component in Swift.

### What happened:

ModuleName.m
`RCT_EXPORT_VIEW_PROPERTY("exampleProp", NSString)` should be `RCT_EXPORT_VIEW_PROPERTY(exampleProp, NSSt

[2018-02-18 17:55] ma-pe commented on #48
There are multiple compiler errors for `ModuleName.swift` when importing, too.

[2018-02-18 17:56] ma-pe commented on #48
This isn't the case when you just use the Native Module setup for swift (without UI Module).

[2018-03-01 13:06] jarretmoses commented on #48
@ma-pe thanks for reporting this. I will need a little time to investigate this myself. However, feel free to open a PR with your suggested changes and I will gladly review it.

[2018-03-07 21:49] Dancyg commented on #5
Hi Peggy!) Kind reminder that we all are waiting for some crunchy blog on Medium!) Thanks in advance!

[2018-04-05 16:05] DanielBoening commented on #36
Today I encountered the same error. Any reasons the open PR is not merged?

[2018-04-06 14:25] jarretmoses commented on #36
@DanielBoening I will work on having it in, in the next couple days.

[2018-04-06 14:26] DanielBoening commented on #36
Awsome! Thank you

[2018-05-06 14:33] SABRYX opened #49 "how can i use this to use a ready made android library ?"
this a great library by the way i did watch the crash course peggy made with react native training and her talk on the 2017 react native conference they were helpful can anyone help ??

[2018-05-06 15:04] jarretmoses commented on #49
@SABRYX I'm not sure I understand what you are asking. Could you provide a little more detail as to what you are trying to do?

[2018-05-06 15:09] SABRYX commented on #49
hey @jarretmoses thank you for the fastest response in the github history 🥇
what i'm asking is , i have a java folder containing an android library i want to know how to import this file into your module so i can use the java folder functions like this post on medium but using your library [https://medium.com/gbox-crew-blog/making-libraries-for-react-native-14a8f5006697](url) thanks alot again

[2018-05-08 19:21] cymen opened #50 "Node version >=6.1.0 <8.0.0 ?"
What version of node is everyone using with this? I tried to install and I'm on Node 8 LTS and no luck as the node version is locked down to `>=6.1.0 <8.0.0`.

Is this just outdated dependency requirements or ifs there a reason to lock node down to that range?

[2018-05-08 19:23] #50 closed, assigned to nobody

[2018-05-17 01:46] dbasea commented on #41
Are you using redux/react navigation in your application?  I'm having the same problem and trying to pin down the reason.

[2018-05-18 01:12] SABRYX commented on #49
K thanks

[2018-05-24 00:11] oron11 opened #51 "Problem with sign to more than one event listener"
### Dev setup:
- `react-native-create-bridge` version: 2.0.1
- `react-native` version: 0.55.4

### I am using create-bridge in a:
- [ ] standalone library
- [x ] existing React Native project

### What you did:
Hi, After successfully installing the bridge and making an activity on android I need that my app
Will listen to 3 events from the activity(ACTION_SCREEN_OFF, ACTION_USER_PRESENT, ACTION_US

[2018-06-12 14:48] achadha0111 opened #52 "How to bridge a Swift UIViewController into a React app?"
I was developing an ARKit app that is controlled by a single view controller. I wanted to access this native view controller in my React Native app which has some other features in it. Currently, I have tried adding the bridges and a View Manager to invoke the view controller from Obj-C, however that doesn't seem to work. I know it isn't directly related to the library but after StackOverflow came

[2018-06-13 13:43] achadha0111 commented on #52
Turns out it has to be done by wrapping the ViewController in a View.

[2018-06-13 13:43] #52 closed

[2018-06-25 15:53] Angelk90 commented on #46
@peggyrayzis, @jarretmoses: are there any news?

[2018-06-29 20:06] jarretmoses commented on #46
@Angelk90
1) At this point I'd say that this isn't the intent of this library as it acts as a plugin for existing projects.
2) This may be what you'd want as a answer to #1.
3) That would be interesting. Feel free to work on a PR to showcase this and we can review when it is done. I don't have the capacity at the moment to be able to build that.

Hope this was helpful and sorry for the late respon

[2018-07-03 22:17] AksimO commented on #41
Your generate generated a little bit different files that showed in this video.
Pay attention to a header file.
In video header file `HelloWorld.h` contains `#import “RCTEventEmitter.h”`, but your generated file doesn't.
As well definition of interface should be
[code]
instead of

[code]

[2018-08-28 08:13] yli18 commented on #39
I tried with ejected CRNA, it throws an exception.

One possible solution is to create new package perhaps with react-native init project and publish and install it from node.

Anyone has  a better solution?

[2018-09-14 09:28] shaheem-khanzada opened #53 "PropType issue"
### Dev setup:
- `react-native-create-bridge` version:
- `react-native` version:

### I am using create-bridge in a:

- [ ] standalone library
- [ ] existing React Native project

### What you did:

### What happened:

[2018-09-18 03:58] vincentk42 opened #54 "Only two files were created: helloworldsquare.h and hellworldsquaremanager.m"
### Dev setup:
- `react-native-create-bridge` version:
- `react-native` version:

### I am using create-bridge in a:

- [ ] standalone library
- [ x] existing React Native project

### What you did:
followed install instructions/video tutorial.  In the video, the author states that four files should have been created, however I only see two.

### What happened:
After installing, I went to go copy

[2018-09-19 06:56] vincentk42 opened #55 "Please inform users that React.PropTypes.string no longer works."
### Dev setup:
- `react-native-create-bridge` version:

### I am using create-bridge in a:

- [ ] standalone library
- [ x] existing React Native project

### What you did:
followed the youtube tutorial and when i tried to run it in Ios, got an error "Cannot ready property 'string' of undefined.

I found out recently that in order to complete the tutorial, prop-types must be installed. The new cod

[2018-10-03 12:14] paul019 opened #56 "Using react-native-create-bridge with ExpoKit"
I want to use react-native-create-bridge with a detached Expo project, that has an android folder and an ios folder. But when running `react-native new-module` the console outputs `react-native: command not found`, because I've not installed react-native. Is it possible for me to use react-native-create-bridge anyway? Do I have to only install React Native by `npm i react-native`?

[2018-10-03 13:41] paul019 commented on #56
I have installed React Native globally (`npm i -g react-native-cli`) and now I can use react-native-create-bridge with ExpoKit with no problems.

Thanks for this awesome library!

[2018-10-03 13:41] #56 closed

[2018-10-09 05:27] dittmarconsulting commented on #53
Also `View.propTypes` has been deprecated

`View.propTypes` -> `ViewPropTypes`
`import { ViewPropTypes, requireNativeComponent } from 'react-native'`

[2018-10-12 10:35] paul019 opened #57 "TypeError when running new-module"
### Dev setup:
- `react-native-create-bridge` version: 2.0.1
- `react-native` version: 27.0.0

### I am using create-bridge in a:
- [ ] standalone library
- [x] existing React Native project

### What you did:
[code]

### What happened:
See the error above.
(`Error: TypeError: Path must be a string. Received undefined`)

[2018-10-19 17:32] paul019 commented on #48
@ma-pe I have the same issue. Like you suggested, I have changed `RCT_EXPORT_VIEW_PROPERTY("exampleProp", NSString)` to `RCT_EXPORT_VIEW_PROPERTY(exampleProp, NSString)`. Nevertheless, there is still the same error: `Value of type 'ModuleName' has no member 'exampleProp'`.

Furthermore, I get following error with the swift setup in the ModuleNameManager.swift: `Method does not override any method

[2018-11-20 23:51] AhmedSalahKhodair opened #58 "I got an error message while calling exampleMethod"
I followed all the steps in README and in Peggy youtube video but I got "TypeError: undefined is not an object (evaluating 'HelloWorld.exampleMethod')" error message in both trials when just calling HelloWorld.exampleMethod().

I'm also wondering why the README does not include a 'App.js' sample that works that bridging?

[2018-11-21 06:15] jerinho commented on #42
what if it happens in react-native-create-library?. because as what I've learned react-native init used to create a react native app whereas react-native-create-library to create a native module [https://github.com/frostney/react-native-create-library/issues/88](url)

[2018-12-04 03:26] jonathanK95 opened #59 "(Warning) requires main queue setup since it overrides 'ConstantToExport'"
### Dev setup:
- `react-native-create-bridge` version:  2.0.1
- `react-native` version: 0.57.7

### I am using create-bridge in a:

- [x] standalone library
- [ ] existing React Native project

### What you did:
I try to bridge to NativeModules and create NativeEventEmitter
as this link: https://www.youtube.com/watch?v=OrIIPNEjQfs

### What happened:

<img width="400" alt="screen shot 2018-12-04 a

[2019-02-24 11:10] taraershadi opened #60 "After "What directory should we deliver your JS files to" it freezes and not response"
### Dev setup:
- `react-native-create-bridge` version: ^2.0.1
- `react-native` version: 0.58.5

### I am using create-bridge in a:

- [ x] standalone library
- [ ] existing React Native project

### What you did:

just testing with new module

### What happened:

It gets stuck at the last stage and freezes for ever until you kill the process, I have also run it in admin mode, all the same.
# react

[2019-03-13 21:42] anwzhang commented on #57
Hi,

I did the same steps and also run into this TypeError, can anyone help?

[2019-03-19 10:59] idanlo commented on #60
same issue for me

[2019-03-21 12:28] saudahmed commented on #60
same issue for me too

[2019-03-21 12:30] saudahmed commented on #60
$ react-native new-module
? What is your bridge module called? HelloWorldSquare
? What type of bridge would you like to create? (Press <space> to select, <a> to toggle all, <i> to inverse selection)Native Module, Native UI Component
? What OS & languages would you like to support? (Press <space> to select, <a> to toggle all, <i> to inverse selection)Android/Java, iOS/Objective-C
? What directory s

[2019-04-12 07:47] linfan68 commented on #57
Same here...

[2019-04-12 14:00] morenoh149 commented on #57
Have you tried a path other than ‘.’?

[2019-04-12 14:57] deggen84 opened #61 "Question: How to follow the README.md"
This is not a bug report, just a question. Im a total beginner.

I called (all on the same folder level) :
react-native init AwesomeProject
react-native-create-library MyLibrary
react-native new-module (using all default value)

How do I answer this :
import com.yourapp.yourmodule.YourModulePackage;

Thanks!

[2019-04-12 17:58] morenoh149 commented on #61
read the readme.

edit this file adding the import

[2019-04-12 18:11] anwzhang commented on #57
@morenoh149 Yes, I've tried other paths, still the same error.

[2019-04-12 18:28] morenoh149 commented on #57
I just ran this
[code]
I did not specify a project name (default). I chose to make a bridge for both types, Native module and native UI component. I chose android/java and ios/objective-c. I chose the current directory `.`. What options did you specify @anwzhang ?

[2019-04-13 05:34] deggen84 commented on #61
Thanks for the reply! Yup i know i need to add it to MainApplication.java

What i dont know is what is “yourapp”, “yourmodule”, and “YourModulePackage”

[2019-04-13 13:31] morenoh149 commented on #61
Those are Whatever you named your project

[2019-04-15 07:37] deggen84 commented on #61
I do not know when and if I already named my project.

Based on these commands:
react-native init AwesomeProject
react-native-create-library MyLibrary
react-native new-module

am I correct to assume that I have already named my project? If it would not be too much of a hassle, would you please spell out the names for "yourapp", "yourmodule", and "YourModulePackage"?

And if i have not yet named th

[2019-04-15 18:50] morenoh149 commented on #61
`react-native init AwesomeProject`

names your project `AwesomeProject`

[2019-04-23 21:39] nomi9995 commented on #59
I am also facing this problem

[2019-05-09 08:16] Tatator01 commented on #60
Got the same problems, tested different path and no error, just freeze...well well well...

[2019-08-21 08:23] Fenopiu opened #63 "Deprecated "rpm" config"
### Dev setup:
- `react-native-create-bridge` version: 2.0.1
- `react-native` version: 0.60.5

### I am using create-bridge in a:
- [ ] standalone library
- [X ] existing React Native project

### What you did:
I use this package.

### What happened:
When compile it give me this warn:

  - react-native-create-bridge: https://github.com/peggyrayzis/react-native-create-bridge#readme
Please notify th

[2019-08-28 20:12] iyegoroff commented on #34
@Almouro, you can use my https://github.com/iyegoroff/make-react-native-package CLI tool to scaffold a npm-publishable react-native package with Swift/Kotlin/Typescript

[2019-10-14 19:46] Tatator01 commented on #63
have the same problem...

[2019-10-23 21:20] Chiblesworth commented on #60
Does anyone have a solution for this? I'm getting the same error. My sub directories are being created but no other files are found inside them.

[2019-10-25 06:02] raphaelluiz128 commented on #60
same error here

[2019-11-06 20:38] voold commented on #63
Having the same problem

[2020-02-03 13:27] dannyschot opened #64 "ERR_INVALID_ARG_TYPE"
- `react-native-create-bridge` version: 2.0.1
- `react-native` version:4.1.13

- [x] existing React Native project

### What you did:
after using the command react-native new-module and fill out every step. I got an error "TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined"

### What happened:
![Screenshot 2020-02-03 at 14 26 42](https://user-imag

[2020-02-04 02:26] winkelmantanner commented on #64
I'm having the exact same error.
react-native-cli: 2.0.1
react-native: 0.59.10
react-native-create-bridge: 2.0.1

[2020-02-23 18:47] kaushalmarakana opened #66 "Files are not getting created"
"react-native": "0.61.5",
"react-native-create-bridge": "^2.0.1"

by using **react-native new-module** any files are not getting created. It creates only a folder of the bridge name.

[2020-02-27 16:10] keyz23 opened #67 "Example to follow"
Hi guys, Anyone has an example that I could follow? I have tried to combine with https://reactnative.dev/docs/native-modules-android documentation, but I don't know how to do with other library.

I don't understand what I should put in:

[code]

and there:

[code]

Could you help me?

[2020-03-18 18:32] Kushal-DesaiMobiquity commented on #66
Same issue. Android files are not generated. Only the folder is created,

[2020-03-18 18:34] KushalDesai1 commented on #66
Same issue. Android files are not generated. Only folder is created.

[2020-03-31 11:06] gabrielslach opened #68 "react-native new-module"
### Dev setup:
- `react-native-create-bridge` version:
- `react-native` version:

### I am using create-bridge in a:

- [ ] standalone library
- [x ] existing React Native project

### What you did:
after installing this with yarn, I tried to execute the command: react-native new-module, but the command is nonexistent.

### What happened:

[2020-04-03 07:55] SafdarSikander commented on #68
Same here

[2020-04-25 21:21] jonathanmachado commented on #68
same here

[2020-05-12 05:27] yurui-viatick commented on #68
same here

[2020-05-13 22:19] olkunmustafa commented on #68
Same here

[2020-05-23 14:53] nguyentrai2011 commented on #68
Any solution here?

[2020-06-22 16:59] sarthur1-0 commented on #68
same here

[2020-07-01 09:17] martan-fitsense commented on #68
same

[2020-07-15 11:11] nikesh8 opened #69 "Unrecognised selector sent to instance"
Hello,
 I am trying with the demo code and return a simple view with color. But when I have passed 'exampleprop' it will be throwing an error. My code Will looks like Below. Please refer attached screenshot for error.

**RNVideoModule-Bridging-Header.h**

[code]

**RNVideoModule.m**

[code]

**RNVideoModuleManager.swift**

[code]

[code]
Please help me out with this issue to how to overcome.

**NO

[2020-07-28 11:05] mela1989 commented on #68
any answer about this issue?

[2020-07-28 11:47] nomi9995 commented on #68
make react-native project by react-native init projectname. then you can run this command at the root of new project

[2020-07-29 12:07] nikesh8 commented on #69
Hello,
Any updates on this issue. Actually I am stuck at some point because of this issue. Please help me out with this to overcome this problem.

[2020-09-26 00:57] YashYash commented on #68
Same here

[2020-10-24 19:56] kafkas commented on #68
Same here

**Follow up:**
I had installed `react-native-create-bridge` globally. I re-installed locally and it works now

[2020-10-26 10:18] fryercorp commented on #68
Has anyone managed to get around this?  I've tried all of the suggestions I've found whilst googling but all I get is:

$ react-native new-module
error Unrecognized command "new-module".

[2020-10-26 10:19] kafkas commented on #68
@fryercorp Did you install `react-native-create-bridge` locally?

[2020-10-26 10:22] fryercorp commented on #68
I ran

npm install --save react-native-create-bridge

I can see the package in the node-modules directoy associated with my project.

I'm not sure if I'm missing any other dependencies.

[2020-11-14 14:09] thangvo406 commented on #68
same here. Any solution?

[2020-11-26 05:16] praveens96 commented on #68
same issue

[2020-12-07 01:17] gufengpiaoyi commented on #68
same here

[2020-12-11 15:36] novseje commented on #68
It is a missing file in ./node_modules/.bin directory.
As I understand it, it should be a modified file ./node_modules/react-native-create-bridge/build/index.js named new-module.js
With
[code]
instead
[code]

[2020-12-23 18:59] daveteu commented on #68
last commit is about 3 years ago, i guess this project is as good as abandoned.

[2021-02-14 02:11] markrickert commented on #68
I ran into this as well. Here's how I fixed it

1. Apply @novseje's code change in `./node_modules/react-native-create-bridge/build/index.js` so that the file will run when you call it (don't bother renaming it).
3. run `node ./node_modules/react-native-create-bridge/build/index.js`
4. It works!

[2021-03-02 00:38] JJwilkin commented on #68
^^ @markrickert  That worked for me, was able to run the command

[2021-04-20 13:13] GhayoorUlHaq commented on #68
@markrickert It worked. Thanks!

[2022-02-07 17:12] zabojad opened #82 "Direct local .aar file dependencies are not supported when building an AAR."
I have 3 rn modules that uses aar files. They reference it in their own build.gradle file like this:

    compile files('libs/mylib.aar')

Until now, it was working fine.

I recently upgraded my app project from react native 0.63 to react native 0.66 and now when I assembleRelease it, I get:

I workaround the problem by importing those aar files in my app's build.gradle file but that sucks, my app

[2022-03-29 20:15] KishorJena opened #83 "How to call java class in kotlin"
Calling classes from java files shows unresolved xyz error.

[2022-08-08 10:22] SurpriseMF3000 commented on #68
Opposite for me.

I needed to change `./node_modules/react-native-create-bridge/build/index.js`

[code]

to

[code]

then run: `node ./node_modules/react-native-create-bridge/build/index.js` and it runs 👍

`react-native new-module` still doesn't work